.error-emoticon {
    width: 100%;
    height: 100%
}

.error-emoticon__face {
    fill: #e8e8e8
}

.error-emoticon__drop {
    fill: #69b9f8;
    transform-origin: center center;
    animation-name: errorEmoticonDropFade;
    animation-duration: 2s;
    animation-delay: .3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in
}

.error-emoticon__drop--single {
    fill: #69b9f8;
    transform-origin: center center;
    animation-name: errorEmoticonDropFadeOnce;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.66, 0, 1, 1)
}

.error-emoticon__eyes {
    fill: #000
}

.tvshow {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%
}

@media (max-width: 749px) {
    .tvshow {
        max-height: 100%;
        transition: transform .3s ease-in-out
    }
}

.tvshow .carousel {
    position: relative;
    flex: 0 0 auto;
    float: right;
    width: 350px;
    height: auto;
    margin: 0
}

.tvshow .carousel--slide {
    margin-left: 20px;
    margin-right: 20px
}

.tvshow .carousel__item {
    padding: 7px 38.5px 7px 29px
}

.tvshow .carousel__bullets {
    height: auto;
    width: auto;
    bottom: 15px;
    right: 25px;
    border: none
}

.tvshow .carousel__bullets > li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #9f9f9f
}

.tvshow .carousel__bullets > li > button {
    background-color: rgba(0, 0, 0, .4);
    border: none
}

.tvshow .carousel__bullets > li > button:focus, .tvshow .carousel__bullets > li > button:hover {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: none
}

.tvshow .carousel__bullets > li.active {
    border: 0;
    bottom: 2px
}

.tvshow .search {
    background-color: initial
}

.tvshow--player-opened {
    padding-top: 60px
}

@media (max-width: 749px) {
    .tvshow--player-opened .full-background {
        display: none
    }
}

.tvshow__content {
    position: relative;
    z-index: 0;
    padding-top: 38px
}

.tvshow-bloc {
    padding-bottom: 18px
}

@media (max-width: 749px) {
    .tvshow-bloc {
        padding-bottom: 25px
    }
}

.tvshow-bloc--extended {
    margin-bottom: 0
}

.tvshow-bloc--extended .tvshow-bloc__content {
    position: relative;
    transition: max-height .5s
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="1"] {
    max-height: 270px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="2"] {
    max-height: 450px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="3"] {
    max-height: 630px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="4"] {
    max-height: 810px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="5"] {
    max-height: 990px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="6"] {
    max-height: 1170px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="7"] {
    max-height: 1350px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="8"] {
    max-height: 1530px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="9"] {
    max-height: 1710px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="10"] {
    max-height: 1890px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="11"] {
    max-height: 2070px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="12"] {
    max-height: 2250px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="13"] {
    max-height: 2430px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="14"] {
    max-height: 2610px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="15"] {
    max-height: 2790px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="16"] {
    max-height: 2970px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="17"] {
    max-height: 3150px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="18"] {
    max-height: 3330px
}

.tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="19"] {
    max-height: 3510px
}

@media (min-width: 1024px) {
    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="1"] {
        max-height: 313px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="2"] {
        max-height: 536px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="3"] {
        max-height: 759px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="4"] {
        max-height: 982px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="5"] {
        max-height: 1205px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="6"] {
        max-height: 1428px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="7"] {
        max-height: 1651px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="8"] {
        max-height: 1874px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="9"] {
        max-height: 2097px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="10"] {
        max-height: 2320px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="11"] {
        max-height: 2543px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="12"] {
        max-height: 2766px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="13"] {
        max-height: 2989px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="14"] {
        max-height: 3212px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="15"] {
        max-height: 3435px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="16"] {
        max-height: 3658px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="17"] {
        max-height: 3881px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="18"] {
        max-height: 4104px
    }

    .tvshow-bloc--extended .tvshow-bloc__content[data-nb-lines="19"] {
        max-height: 4327px
    }
}

.tvshow-bloc--extended .tvshow-bloc__content ul {
    padding-bottom: 50px;
    margin-bottom: 0;
    white-space: normal;
    will-change: auto
}

.tvshow-bloc__action {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    margin-bottom: -18px;
    background: #2f323b
}

.tvshow-bloc__action:after, .tvshow-bloc__action:before {
    content: "";
    display: block;
    flex: 1;
    border-top: 1px solid hsla(0, 0%, 100%, .15)
}

.tvshow-bloc__button {
    height: 80px;
    border: 0;
    background: transparent;
    padding: 10px;
    text-transform: uppercase;
    color: #fff
}

.app--full-features .tvshow-bloc__button:focus, .app--full-features .tvshow-bloc__button:hover {
    outline: none;
    text-decoration: none
}

.app--full-features .tvshow-bloc__button:focus .tvshow-bloc__button-image, .app--full-features .tvshow-bloc__button:hover .tvshow-bloc__button-image {
    transform: scale(1.2)
}

.tvshow-bloc__action--hidden .tvshow-bloc__button {
    opacity: 0
}

.tvshow-bloc__action--collapse {
    visibility: hidden
}

.tvshow-bloc__action--collapse .tvshow-bloc__button {
    margin-top: -62px;
    opacity: 0
}

.tvshow-bloc__button-image {
    width: 40px;
    height: 40px;
    margin: -10px 0 -15px 10px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: transform .5s
}

.tvshow-bloc__button-image > svg {
    display: block
}

.tvshow-bloc--white {
    position: relative
}

.tvshow-bloc--white:before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: 20px;
    z-index: -1;
    background-color: #f0f0f0
}

.tvshow-bloc--white .tvshow-bloc__title {
    color: #2f323b
}

.tvshow-bloc--actu {
    margin-bottom: -54px
}

.tvshow-bloc--actu.tvshow-bloc--white {
    bottom: 60px
}

.tvshow-bloc--top {
    margin-top: -25px
}

.tvshow-bloc--bottom {
    margin-bottom: 20px
}

@media (max-width: 749px) {
    .tvshow-bloc--likeother .tvshow-bloc__content ul {
        height: auto;
        flex-wrap: wrap;
        max-width: 100%
    }
}

.tvshow-bloc--likeother {
    padding-bottom: 60px
}

@media (max-width: 749px) {
    .tvshow-bloc--likeother {
        padding: 25px 0
    }
}

.tvshow-bloc--banner {
    padding: 14px 0;
    margin-bottom: 10px
}

@media (max-width: 749px) {
    .tvshow-bloc--banner {
        width: 100%;
        margin: 0;
        padding: 0;
        background: none
    }
}

.tvshow-bloc--banner .tvshow-bloc__more {
    width: 54px;
    background-image: url(/assets/images/icons/indicators/info-program-9df5b97ace.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0;
    border-left: 1px solid rgba(0, 0, 0, .3);
    opacity: .5;
    display: none;
    position: absolute;
    top: 12px;
    bottom: 12px;
    right: 0
}

@media (max-width: 749px) {
    .tvshow-bloc--banner .tvshow-bloc__more {
        display: block
    }
}

.tvshow-bloc--banner .tvshow-bloc__content {
    height: auto;
    overflow: visible;
    margin: 0;
    padding-top: 27%;
    border-bottom: 1px solid hsla(0, 0%, 100%, .15)
}

.tvshow-bloc--banner .tvshow-bloc__content:after {
    content: "";
    display: table;
    clear: both
}

@media (max-width: 749px) {
    .tvshow-bloc--banner .tvshow-bloc__content {
        margin: 26px -20px;
        padding-top: 37%
    }

    .tvshow-bloc--banner .tvshow-bloc__content .carousel {
        display: none
    }
}

.tvshow-bloc--banner .tvshow-bloc__content:before {
    display: none
}

.tvshow-bloc--banner .tvshow-bloc__channel-logo {
    position: absolute;
    top: 40px;
    right: 0
}

@media (max-width: 567px) {
    .tvshow-bloc--banner .tvshow-bloc__channel-logo {
        top: -40px
    }
}

.tvshow-bloc__title {
    font-weight: 100;
    font-size: 22px;
    color: #fff;
    margin-bottom: -4px
}

@media (max-width: 479px) {
    .tvshow-bloc__title {
        font-size: 16px
    }
}

.tvshow-bloc__title:first-letter {
    text-transform: uppercase
}

.tvshow-bloc__search-helper {
    font-size: 30px;
    color: #fff;
    margin: 0 20px 20px
}

@media (max-width: 479px) {
    .tvshow-bloc__search-helper {
        font-size: 22px
    }
}

.tvshow-bloc__content {
    position: relative;
    overflow: hidden;
    margin: -20px -20px -50px
}

.tile-catchup {
    line-height: normal
}

.tile-catchup__container, .tile-catchup__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.tile-catchup__overlay {
    background: rgba(0, 0, 0, .7)
}

.tile-catchup--darker-on-hover .tile-catchup__overlay {
    background: rgba(0, 0, 0, .55)
}

.tile-catchup__container {
    display: flex;
    height: 100%
}

.tile-catchup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto
}

.tile-catchup__picto {
    width: 70px;
    height: 70px
}

.tile-catchup__picto--s, .tile-catchup__picto--xs {
    width: 40px;
    height: 40px
}

.tile-catchup__picto--l {
    width: 100px;
    height: 100px
}

.tile-catchup__picto--xl {
    width: 130px;
    height: 130px
}

.tile-catchup__text {
    margin: 10px 0;
    color: #fff;
    text-transform: uppercase
}

.tile-catchup__container--hover, .tile-catchup__overlay--hover {
    display: none
}

.app--full-features .tile-catchup__overlay {
    transition: all .1s .1s
}

.app--full-features .tile-catchup__overlay--hover {
    display: block;
    opacity: 0
}

.app--full-features .tile-catchup__container--hover {
    display: flex;
    opacity: 0;
    transition: opacity .1s .1s
}

.app--full-features .tile-catchup__container--not-hover {
    opacity: 1;
    transition: opacity .1s .1s
}

.app--full-features .playlist__item:hover .tile-catchup__container--hover, .app--full-features .playlist__item:hover .tile-catchup__overlay--hover, .app--full-features .playlist__item > a:focus .tile-catchup__container--hover, .app--full-features .playlist__item > a:focus .tile-catchup__overlay--hover, .app--full-features .tile:focus .tile-catchup__container--hover, .app--full-features .tile:focus .tile-catchup__overlay--hover, .app--full-features .tile:hover .tile-catchup__container--hover, .app--full-features .tile:hover .tile-catchup__overlay--hover {
    opacity: 1
}

.app--full-features .playlist__item:hover .tile-catchup--darker-on-hover .tile-catchup__overlay, .app--full-features .playlist__item > a:focus .tile-catchup--darker-on-hover .tile-catchup__overlay, .app--full-features .tile:focus .tile-catchup--darker-on-hover .tile-catchup__overlay, .app--full-features .tile:hover .tile-catchup--darker-on-hover .tile-catchup__overlay {
    background: rgba(0, 0, 0, .7)
}

.app--full-features .playlist__item:hover .tile-catchup__container--not-hover, .app--full-features .playlist__item > a:focus .tile-catchup__container--not-hover, .app--full-features .tile:focus .tile-catchup__container--not-hover, .app--full-features .tile:hover .tile-catchup__container--not-hover {
    opacity: 0
}

.app--full-features .playlist__item:hover .tile-catchup__progress-loading, .app--full-features .playlist__item > a:focus .tile-catchup__progress-loading, .app--full-features .tile:focus .tile-catchup__progress-loading, .app--full-features .tile:hover .tile-catchup__progress-loading {
    animation: loadTileCatchup 1s ease-out .3s
}

.app--full-features .playlist__item:hover .tile-catchup__progress-base, .app--full-features .playlist__item > a:focus .tile-catchup__progress-base, .app--full-features .tile:focus .tile-catchup__progress-base, .app--full-features .tile:hover .tile-catchup__progress-base {
    animation: disappearTileCatchup 1s ease-in .3s
}

@keyframes loadTileCatchup {
    0% {
        stroke-dashoffset: 0
    }
}

@keyframes disappearTileCatchup {
    0% {
        opacity: 0
    }
}

.ReactModal__Overlay--auth {
    background-color: rgba(11, 4, 38, .8)
}

.ReactModal__Overlay--auth, .ReactModal__Overlay--tutorial {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: table
}

@media (max-width: 749px) {
    .ReactModal__Overlay--auth, .ReactModal__Overlay--tutorial {
        display: block
    }
}

.ReactModal__Overlay--auth .video-full-background, .ReactModal__Overlay--tutorial .video-full-background {
    display: none
}

@media (min-width: 750px) {
    .ReactModal__Overlay--auth .tabmodal__container, .ReactModal__Overlay--tutorial .tabmodal__container {
        width: auto;
        height: auto;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
        max-height: none;
        overflow-x: hidden
    }
}

body .root-service-logo .root-service-logo__play {
    transition: fill-opacity .3s ease;
    fill: #babcc4
}

body .root-service-logo.root-service-logo--app-header .root-service-logo__play {
    fill: #fff;
    fill-opacity: .4
}

body .root-service-logo.root-service-logo--onboarding {
    height: auto
}

body .root-service-logo.root-service-logo--onboarding svg {
    width: 50%
}

body .root-service-logo.root-service-logo--onboarding .root-service-logo__play {
    fill: #fff;
    fill-opacity: .4
}

body .root-service-logo.root-service-logo--white-bg .root-service-logo__six {
    fill: #575b67
}

body .root-service-logo.root-service-logo--blue .root-service-logo__play, body .root-service-logo.root-service-logo--blue .root-service-logo__six {
    fill: #69b9f8
}

body .root-service-logo.root-service-logo--dark-play .root-service-logo__play {
    fill: #747883
}

body .root-service-logo.root-service-logo--effect .root-service-logo__play {
    fill-opacity: .4
}

body .root-service-logo.root-service-logo--effect:focus .root-service-logo__play, body .root-service-logo.root-service-logo--effect:hover .root-service-logo__play {
    fill-opacity: 1
}

body .root-service-logo--dark-bg path, body .root-service-logo--dark-bg polygon, body .root-service-logo--landing path, body .root-service-logo--landing polygon {
    fill: #fff
}

.error-boundary {
    z-index: 1000;
    background-color: #fff;
    position: absolute;
    padding: 15px 15px 30px 20px;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow: scroll
}

@media (min-width: 750px) {
    .error-boundary {
        padding: 120px 0 100px 300px;
        margin-bottom: -30px
    }
}

@media (max-width: 749px) {
    .error-boundary {
        top: 40px;
        padding: 0 10px
    }
}

.error-boundary p {
    white-space: pre
}

.crm {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    z-index: -1
}

.route-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 3px;
    background-color: #fff;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transform-origin: left center
}

.route-loader--visible {
    transition: transform 1s ease-in;
    visibility: visible;
    opacity: .9
}

.live-page {
    width: 100%;
    height: 100%
}

.freemium-header, .live-page {
    position: relative
}

@media (max-width: 567px) {
    .freemium-header__content {
        display: flex;
        align-items: center;
        flex-direction: column
    }
}

.freemium-header__image > img {
    display: block;
    max-width: 100%;
    margin: 0 auto
}

@media (max-width: 749px) {
    .freemium-header__image > img {
        max-height: 240px
    }
}

@media (max-width: 1023px) {
    .freemium-header__image {
        flex: 1
    }
}

.freemium-header__text {
    display: flex;
    flex: 5;
    flex-direction: column
}

@media (max-width: 1023px) {
    .freemium-header__text {
        flex: 1
    }
}

@media (max-width: 749px) {
    .freemium-header__text--desktop {
        display: none
    }
}

.freemium-header__link {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 5px auto 50px;
    font-size: 1em;
    color: #fff;
    min-height: 58px
}

.freemium-header__link span a, .freemium-header__link span button {
    display: inline;
    color: #747883;
    text-decoration: underline;
    cursor: pointer
}

@media (min-width: 750px) {
    .freemium-header__link {
        padding: 20px 1em 0
    }
}

@media (max-width: 749px) {
    .freemium-header__link {
        width: 100%;
        margin: auto
    }
}

.freemium-header-action {
    display: flex;
    margin: 20px auto;
    width: 400px
}

@media (max-width: 749px) {
    .freemium-header-action {
        width: 100%;
        flex-direction: column;
        align-items: center
    }
}

.freemium-header-action__button {
    margin: auto;
    padding: .8em .7em;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    width: 210px
}

@media (max-width: 1023px) {
    .freemium-header-action__button {
        font-size: 1em;
        width: 260px
    }
}

.freemium-header-action__button--mobile {
    margin: 1em 0;
    height: auto
}

.freemium-header-action__button--mobile:last-child {
    background: #575b67
}

.freemium-header-action__price {
    width: 50%;
    font-size: 1.4em;
    color: #fff;
    line-height: 25px;
    padding-top: 10px
}

.freemium-header-action__price strong {
    font-size: 2.2em
}

.freemium-header-action__price span {
    font-size: .7em;
    margin-left: 1.2em
}

@media (max-width: 1023px) {
    .freemium-header-action__price {
        font-size: 1.2em;
        line-height: 20px
    }
}

.freemium-header-action__separator {
    display: flex;
    align-items: center
}

.freemium-header-action__separator:after, .freemium-header-action__separator:before {
    content: "";
    flex: 1;
    border-top: 1px solid hsla(0, 0%, 100%, .4)
}

.freemium-header-action__separator > span {
    display: inline-block;
    font-size: 16px;
    padding: 0 15px
}

.freemium-advantage {
    margin: 2em 0 0;
    color: #fff
}

.freemium-advantage__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    list-style: none
}

@media (max-width: 749px) {
    .freemium-advantage__list {
        flex-direction: column
    }
}

.freemium-advantage__list-item {
    width: 20%
}

@media (max-width: 749px) {
    .freemium-advantage__list-item {
        width: 100%;
        margin: 2em auto
    }
}

.freemium-advantage__list-item svg {
    width: 50px;
    height: 50px;
    margin: auto
}

.freemium-advantage__list-item span {
    display: block;
    margin: 2em 0 0
}

.freemium-advantage__circle {
    display: flex;
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    background-color: #fff
}

.interest-tile {
    position: relative;
    padding: .5vw;
    margin-bottom: 1.1vw;
    cursor: pointer;
    width: 20%
}

.interest-tile h3 {
    padding: .5vw;
    font-size: 15px;
    color: #2e3c4b;
    text-transform: uppercase;
    text-align: left
}

@media (max-width: 1279px) {
    .interest-tile {
        width: 25%
    }
}

@media (max-width: 1023px) {
    .interest-tile {
        width: 33%
    }
}

@media (max-width: 749px) {
    .interest-tile {
        width: 50%
    }

    .interest-tile h3 {
        font-size: 10px
    }
}

@media (min-width: 2048px) {
    .interest-tile h3 {
        font-size: 1.1vw
    }
}

.interest-tile__thumb {
    position: relative;
    overflow: hidden;
    height: auto
}

.interest-tile__thumb:before {
    content: "";
    display: block;
    padding-top: 56.25%
}

.interest-tile__thumb img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: contain
}

.interest-tile__thumb:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 50px 50px;
    background-image: url(/assets/images/icons/checks/qualification-check-0c3a420088.png);
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0
}

@media (min-width: 750px) {
    .interest-tile__thumb:after {
        transition: opacity .2s
    }
}

.app--full-features .interest-tile:hover {
    box-shadow: 0 0 .4vw .1vw rgba(0, 0, 0, .3)
}

.app--full-features .interest-tile:hover .interest-tile__thumb:after {
    opacity: 1
}

.interest-tile--active .interest-tile__thumb:after {
    opacity: 1;
    background-color: rgba(105, 185, 248, .8);
    background-image: url(/assets/images/icons/checks/qualification-checked-444558a03f.png)
}

.app--full-features .interest-tile--active:hover {
    box-shadow: none
}

.app--full-features .interest-tile--active:hover .interest-tile__thumb:after {
    background-image: url(/assets/images/icons/checks/qualification-uncheck-748e26cb3e.png)
}

.interest-tile--account {
    width: 33%
}

@media (max-width: 1023px) {
    .interest-tile--account {
        width: 50%
    }
}

.interests-list {
    display: flex;
    width: auto;
    list-style-type: none;
    flex-wrap: wrap;
    font-weight: 700
}

.subscription-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    color: #fff
}

.subscription-questions svg {
    width: 60px;
    height: 60px;
    fill: #fff
}

.subscription-questions__link {
    margin-top: 10px;
    color: #fff;
    text-decoration: underline
}

.freemium-subscription {
    color: #747883
}

.freemium-subscription__title {
    font-weight: 100;
    font-size: 2em;
    color: #000
}

.freemium-subscription__steps {
    display: flex;
    flex-direction: row;
    margin-top: 20px
}

@media (max-width: 749px) {
    .freemium-subscription__steps {
        flex-direction: column
    }
}

.freemium-subscription__step {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px
}

.freemium-subscription__step-footer, .freemium-subscription__step-header {
    width: 100%;
    height: 80px
}

.freemium-subscription__step-footer {
    margin-top: auto
}

.freemium-subscription__step-image {
    margin: auto
}

.freemium-subscription__step-image img {
    width: 100%;
    height: 150px
}

.freemium-subscription__action {
    display: flex
}

.freemium-subscription__action a {
    flex: 1;
    margin: 1em auto
}

.freemium-subscription__action a img {
    max-width: 40%
}

@media (min-width: 1280px) {
    .freemium-subscription__action a img {
        max-width: 70%
    }
}

@media (max-width: 749px) {
    .freemium-subscription__step:first-child {
        margin: 1em auto 5em
    }
}

.freemium-subscription__step-icon {
    display: block;
    margin: 0 auto 1em;
    width: 70px;
    height: 70px
}

.freemium-subscription__fai {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4em 0 0
}

.freemium-subscription__fai-action {
    color: #747883;
    text-decoration: underline
}

.freemium-button--100foot, .freemium-header-action__button--100foot, .freemium-page__header-container--100foot, .freemium-page__section--odd--100foot, .freemium-program__list-item--bullet--100foot {
    background-color: #bc4e48
}

.freemium-advantage--100foot, .freemium-subscription__step-icon--100foot {
    fill: #bc4e48
}

.freemium-page__scrolltop-icon--100foot {
    stroke: #bc4e48
}

.freemium-program__list--100foot {
    color: #bc4e48
}

.freemium-button--6play, .freemium-header-action__button--6play, .freemium-page__header-container--6play, .freemium-page__section--odd--6play, .freemium-program__list-item--bullet--6play {
    background-color: #dbdcde
}

.freemium-advantage--6play, .freemium-subscription__step-icon--6play {
    fill: #dbdcde
}

.freemium-page__scrolltop-icon--6play {
    stroke: #dbdcde
}

.freemium-program__list--6play {
    color: #dbdcde
}

.freemium-button--m6replay, .freemium-header-action__button--m6replay, .freemium-page__header-container--m6replay, .freemium-page__section--odd--m6replay, .freemium-program__list-item--bullet--m6replay {
    background-color: #305fa0
}

.freemium-advantage--m6replay, .freemium-subscription__step-icon--m6replay {
    fill: #305fa0
}

.freemium-page__scrolltop-icon--m6replay {
    stroke: #305fa0
}

.freemium-program__list--m6replay {
    color: #305fa0
}

.freemium-button--w9replay, .freemium-header-action__button--w9replay, .freemium-page__header-container--w9replay, .freemium-page__section--odd--w9replay, .freemium-program__list-item--bullet--w9replay {
    background-color: #1b042d
}

.freemium-advantage--w9replay, .freemium-subscription__step-icon--w9replay {
    fill: #1b042d
}

.freemium-page__scrolltop-icon--w9replay {
    stroke: #1b042d
}

.freemium-program__list--w9replay {
    color: #1b042d
}

.freemium-button--6terreplay, .freemium-header-action__button--6terreplay, .freemium-page__header-container--6terreplay, .freemium-page__section--odd--6terreplay, .freemium-program__list-item--bullet--6terreplay {
    background-color: #e03a60
}

.freemium-advantage--6terreplay, .freemium-subscription__step-icon--6terreplay {
    fill: #e03a60
}

.freemium-page__scrolltop-icon--6terreplay {
    stroke: #e03a60
}

.freemium-program__list--6terreplay {
    color: #e03a60
}

.freemium-button--gulli, .freemium-header-action__button--gulli, .freemium-page__header-container--gulli, .freemium-page__section--odd--gulli, .freemium-program__list-item--bullet--gulli {
    background-color: #01c961
}

.freemium-advantage--gulli, .freemium-subscription__step-icon--gulli {
    fill: #01c961
}

.freemium-page__scrolltop-icon--gulli {
    stroke: #01c961
}

.freemium-program__list--gulli {
    color: #01c961
}

.freemium-button--home, .freemium-header-action__button--home, .freemium-page__header-container--home, .freemium-page__section--odd--home, .freemium-program__list-item--bullet--home {
    background-color: #157773
}

.freemium-advantage--home, .freemium-subscription__step-icon--home {
    fill: #157773
}

.freemium-page__scrolltop-icon--home {
    stroke: #157773
}

.freemium-program__list--home {
    color: #157773
}

.freemium-button--tevareplay, .freemium-header-action__button--tevareplay, .freemium-page__header-container--tevareplay, .freemium-page__section--odd--tevareplay, .freemium-program__list-item--bullet--tevareplay {
    background-color: #01ca48
}

.freemium-advantage--tevareplay, .freemium-subscription__step-icon--tevareplay {
    fill: #01ca48
}

.freemium-page__scrolltop-icon--tevareplay {
    stroke: #01ca48
}

.freemium-program__list--tevareplay {
    color: #01ca48
}

.freemium-button--parispremierereplay, .freemium-header-action__button--parispremierereplay, .freemium-page__header-container--parispremierereplay, .freemium-page__section--odd--parispremierereplay, .freemium-program__list-item--bullet--parispremierereplay {
    background-color: #fd4f00
}

.freemium-advantage--parispremierereplay, .freemium-subscription__step-icon--parispremierereplay {
    fill: #fd4f00
}

.freemium-page__scrolltop-icon--parispremierereplay {
    stroke: #fd4f00
}

.freemium-program__list--parispremierereplay {
    color: #fd4f00
}

.freemium-button--courses, .freemium-header-action__button--courses, .freemium-page__header-container--courses, .freemium-page__section--odd--courses, .freemium-program__list-item--bullet--courses {
    background-color: #fff
}

.freemium-advantage--courses, .freemium-subscription__step-icon--courses {
    fill: #fff
}

.freemium-page__scrolltop-icon--courses {
    stroke: #fff
}

.freemium-program__list--courses {
    color: #fff
}

.freemium-button--m6mp, .freemium-header-action__button--m6mp, .freemium-page__header-container--m6mp, .freemium-page__section--odd--m6mp, .freemium-program__list-item--bullet--m6mp {
    background-color: #df171a
}

.freemium-advantage--m6mp, .freemium-subscription__step-icon--m6mp {
    fill: #df171a
}

.freemium-page__scrolltop-icon--m6mp {
    stroke: #df171a
}

.freemium-program__list--m6mp {
    color: #df171a
}

.freemium-button--m6_boutique, .freemium-header-action__button--m6_boutique, .freemium-page__header-container--m6_boutique, .freemium-page__section--odd--m6_boutique, .freemium-program__list-item--bullet--m6_boutique {
    background-color: #e03a3a
}

.freemium-advantage--m6_boutique, .freemium-subscription__step-icon--m6_boutique {
    fill: #e03a3a
}

.freemium-page__scrolltop-icon--m6_boutique {
    stroke: #e03a3a
}

.freemium-program__list--m6_boutique {
    color: #e03a3a
}

.freemium-button--rtl_radio, .freemium-header-action__button--rtl_radio, .freemium-page__header-container--rtl_radio, .freemium-page__section--odd--rtl_radio, .freemium-program__list-item--bullet--rtl_radio {
    background-color: #e30613
}

.freemium-advantage--rtl_radio, .freemium-subscription__step-icon--rtl_radio {
    fill: #e30613
}

.freemium-page__scrolltop-icon--rtl_radio {
    stroke: #e30613
}

.freemium-program__list--rtl_radio {
    color: #e30613
}

.freemium-button--rtl2, .freemium-header-action__button--rtl2, .freemium-page__header-container--rtl2, .freemium-page__section--odd--rtl2, .freemium-program__list-item--bullet--rtl2 {
    background-color: #eb212e
}

.freemium-advantage--rtl2, .freemium-subscription__step-icon--rtl2 {
    fill: #eb212e
}

.freemium-page__scrolltop-icon--rtl2 {
    stroke: #eb212e
}

.freemium-program__list--rtl2 {
    color: #eb212e
}

.freemium-button--fun_radio, .freemium-header-action__button--fun_radio, .freemium-page__header-container--fun_radio, .freemium-page__section--odd--fun_radio, .freemium-program__list-item--bullet--fun_radio {
    background-color: #00afec
}

.freemium-advantage--fun_radio, .freemium-subscription__step-icon--fun_radio {
    fill: #00afec
}

.freemium-page__scrolltop-icon--fun_radio {
    stroke: #00afec
}

.freemium-program__list--fun_radio {
    color: #00afec
}

.freemium-page {
    background-color: #fff;
    text-align: center;
    scrollbar-base-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-face-color: #000
}

.freemium-page::-webkit-scrollbar {
    width: 5px
}

.freemium-page::-webkit-scrollbar-track {
    background-color: rgba(47, 50, 59, .25);
    border-radius: 0
}

.freemium-page::-webkit-scrollbar-thumb {
    background-color: rgba(47, 50, 59, .7);
    border-radius: 0
}

.freemium-page strong {
    font-weight: 400
}

@media (max-width: 749px) {
    .freemium-page {
        -webkit-overflow-scrolling: touch
    }
}

.freemium-page__container {
    max-width: 980px;
    margin: auto
}

@media (min-width: 750px) {
    .freemium-page__container-panoramic {
        max-width: 1620px
    }
}

.freemium-page__section {
    padding: 2em 1em
}

.freemium-page__title {
    color: #000;
    font-weight: 100;
    font-size: 28px
}

@media (max-width: 749px) {
    .freemium-page__title {
        font-size: 18px
    }
}

.freemium-page__title.freemium-page__title--header, .freemium-page__title.freemium-page__title--tv {
    color: #fff
}

.freemium-page__title.freemium-page__title--tv {
    margin: 20px 10px
}

h2.freemium-page__title {
    font-size: 2em
}

.freemium-page__section--odd {
    color: #fff;
    flex: 1
}

.freemium-page__section--odd .freemium-page__title {
    color: #fff
}

.freemium-page__header {
    display: flex;
    background-color: #000
}

@media (max-width: 1023px) {
    .freemium-page__header {
        flex-direction: column
    }
}

.freemium-page__header-container {
    flex: 1;
    padding: 40px
}

@media (max-width: 749px) {
    .freemium-page__header-container {
        padding: 20px
    }
}

.freemium-page__tv {
    position: relative
}

.freemium-page__tv-wrapper {
    position: relative;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    padding-bottom: 64.25%
}

.freemium-page__tv-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/images/modules/freemium/page/freemium-tv-f1338c707c.png);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

@media (max-width: 567px) {
    .freemium-page__tv-background {
        background-size: contain;
        padding-bottom: 50%
    }
}

.freemium-page__tv-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px
}

@media (min-width: 1024px) {
    .freemium-page__tv-content {
        height: 90%
    }
}

@media (max-width: 320px) {
    .freemium-page__tv-content {
        height: 60%
    }
}

.freemium-page__logo {
    margin: 0 auto 10px
}

.freemium-page__logo.freemium-page__logo--tevareplay {
    width: 60px;
    height: 60px;
    width: 170px;
    height: 47px
}

.freemium-page__scrolltop {
    position: fixed;
    right: 12em;
    bottom: -1.2em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #fff
}

@media (max-width: 749px) {
    .freemium-page__scrolltop {
        display: none
    }
}

.freemium-page__scrolltop-icon {
    width: 1.5em;
    height: 1.5em;
    transform: rotate(-90deg)
}

.freemium-page__wrapper {
    display: flex
}

@media (max-width: 749px) {
    .freemium-page__wrapper {
        flex-direction: column
    }
}

@media (max-width: 749px) {
    .freemium-partners-channel {
        margin-top: -40px
    }
}

.freemium-partners-channel__list {
    display: flex;
    flex-direction: column;
    align-items: center
}

.freemium-partners-channel__list-operator {
    width: 100%;
    padding: 20px 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.freemium-partners-channel__list-operator .freemium-partners-channel__list-operator-img {
    display: inline-block;
    width: 100px
}

.freemium-partners-channel__list-operator .freemium-partners-channel__list-operator-label {
    margin-left: 50px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle
}

.freemium-partners-channel__list-operator img {
    max-height: 50px;
    max-width: 100%
}

.freemium-program__list {
    margin: 20px 0 0;
    white-space: nowrap;
    font-size: calc(2.04651px + 1.86047vw)
}

@media (min-width: 750px) {
    .freemium-program__list {
        font-size: 16px
    }
}

.freemium-program__list-item {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 5px
}

@media (min-width: 1280px) {
    .freemium-program__list-item {
        padding: 5px 10px
    }
}

.freemium-program__list-item--bullet {
    display: inline-block;
    padding: 4px;
    border-radius: 50%
}

.freemium-program__illustration {
    width: 100%;
    height: 100%;
    margin: 10px 0 0
}

.old-header-search {
    position: absolute;
    top: 14px;
    right: 69px;
    height: 20px;
    margin: auto;
    cursor: pointer;
    padding-right: 5px
}

.old-header-search--shy {
    opacity: .5
}

@media (min-width: 750px) {
    .old-header-search--mobile-left {
        left: 85px;
        right: auto
    }
}

.old-header-search__icon {
    width: auto;
    height: 100%
}

.old-header-search__icon-separator {
    display: none;
    position: absolute;
    top: 0;
    right: -10px;
    width: 1px;
    height: 25px;
    margin: 0;
    background-color: hsla(0, 0%, 100%, .2)
}

@media (max-width: 749px) {
    .old-header-search__icon-separator {
        display: inline-block
    }
}

.loader {
    fill: #69b9f8;
    max-width: 100%;
    max-height: 100%;
    animation: rotate360 1.5s linear infinite
}

@keyframes rotate360 {
    to {
        transform: rotate(1turn)
    }
}

.fullpage-stepper {
    text-align: center;
    color: #fff;
    padding-top: 20%
}

.consent-page {
    height: 100%
}

.consent-page__wrapper {
    text-align: center;
    padding: 2vw 5vw 0;
    line-height: 1.5
}

@media (max-width: 749px) {
    .consent-page__wrapper {
        padding: 8vw 5vw 0;
        font-size: 12px
    }
}

.consent-page__container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em
}

.consent-page__container > * {
    margin: 20px 8px
}

.consent-page__title {
    font-size: 20px;
    line-height: 1.35;
    text-transform: uppercase;
    font-weight: 700
}

@media (max-width: 749px) {
    .consent-page__title {
        font-size: 16px
    }
}

.consent-page__message {
    text-align: left
}

.consent-page__informations {
    margin-top: 40px;
    text-align: left
}

@media (max-width: 749px) {
    .consent-page__informations {
        text-align: justify
    }
}

.consent-page__message-link {
    color: #000
}

.avatar-status {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff
}

.avatar-status--off {
    display: none
}

.avatar-status--on {
    display: block
}

.avatar-status__content {
    max-width: 60%;
    margin: auto
}

.avatar {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: 35px;
    height: 35px
}

.avatar--bigger {
    width: 200px;
    height: 200px
}

.avatar--fluid, .avatar__image {
    width: 100%;
    height: 100%
}

.avatar__image {
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%
}

.header-image__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0
}

.header-image__image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75vh;
    z-index: 1;
    background-size: cover;
    will-change: transform
}

@media (max-width: 479px) {
    .header-image__image {
        height: 360px
    }
}

.header-image__image.header-image__image--non-blur {
    transition: opacity 1s ease-in;
    opacity: 1
}

.header-image__gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75vh;
    z-index: 2;
    background-image: linear-gradient(rgba(47, 50, 59, .1), rgba(47, 50, 59, .5) 85%, #2f323b)
}

@media (max-width: 479px) {
    .header-image__gradient {
        height: 360px
    }
}

.default-enter .header-image__gradient, .default-exit .header-image__gradient {
    position: fixed
}

.header-image__plain {
    position: absolute;
    top: 75vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #2f323b
}

@media (max-width: 479px) {
    .header-image__plain {
        top: 360px
    }
}

.default-enter .header-image__plain, .default-exit .header-image__plain {
    position: fixed
}

.header-image__content {
    position: relative;
    padding: 40px 20px 0
}

@media (max-width: 567px) {
    .header-image__content {
        padding-top: 180px
    }
}

@media (min-width: 1024px) {
    .header-image__content {
        padding-top: 56px
    }
}

.header-image__title {
    position: relative;
    padding-top: 27%;
    border-bottom: 1px solid hsla(0, 0%, 100%, .15)
}

.header-image__title h1 {
    text-transform: uppercase;
    color: #fff
}

.header-image__container {
    margin: 10px 0
}

.app--full-features .header-image__container {
    margin: 0 80px
}

.slider__river {
    overflow-x: auto;
    overflow-y: hidden;
    will-change: transform;
    white-space: nowrap;
    padding: 35px 20px 80px;
    margin-bottom: -30px
}

@media (max-width: 749px) {
    .slider__river::-webkit-scrollbar {
        display: none
    }
}

.slider__river--xs {
    padding-bottom: 70px;
    padding-top: 25px
}

@media (min-width: 1024px) {
    .slider__river--xs {
        padding-top: 35px;
        padding-bottom: 80px
    }
}

.slider__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 0 0;
    width: 238px;
    height: 180px
}

@media (min-width: 1024px) {
    .slider__item {
        width: 295px;
        height: 223px;
        margin-right: 5px
    }
}

.slider__item--xs {
    width: 180px;
    height: 141px
}

@media (min-width: 1024px) {
    .slider__item--xs {
        width: 238px;
        height: 175px;
        margin-right: 0
    }
}

.slider__item--l {
    width: 317.4px;
    height: 215px
}

@media (min-width: 1024px) {
    .slider__item--l {
        width: 395px;
        height: 265px
    }
}

.slider__item--xl {
    width: 476px;
    height: 315px
}

@media (min-width: 1024px) {
    .slider__item--xl {
        width: 595px;
        height: 390px
    }
}

.slider-arrow {
    display: block;
    position: absolute;
    z-index: 10;
    opacity: 1;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    height: 100%;
    width: 29px
}

.slider-arrow svg {
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translateY(-50%)
}

.slider-arrow path {
    transition: stroke-width .1s ease-in-out
}

.slider-arrow:hover path {
    stroke-width: 12px
}

.slider-arrow--big {
    width: 60px;
    height: 130px;
    top: calc(50% - 60px)
}

@media (max-width: 749px) {
    .slider-arrow--big {
        display: none
    }
}

.slider-arrow--big svg {
    width: 60px;
    height: 130px;
    top: 40%
}

.slider-arrow--big:before {
    content: "";
    display: block;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    background: #000;
    opacity: .3;
    transition: transform .1s ease-in-out, opacity .1s ease-in-out
}

.slider-arrow--big:hover:before {
    transform: scale(1.1);
    opacity: .6
}

.slider-arrow--hidden {
    display: none !important
}

.slider-arrow--left, .slider-arrow--left.slider-arrow--big svg {
    left: 0
}

.slider-arrow--left svg {
    left: 30%
}

.slider-arrow--right, .slider-arrow--right.slider-arrow--big svg {
    right: 0
}

.slider-arrow--right svg {
    right: 30%
}

.tile {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    color: inherit;
    outline: none;
    text-decoration: none
}

.tile--disabled {
    cursor: default
}

.tile__image {
    display: block;
    width: 100%;
    max-height: 100%;
    position: relative
}

.tile__thumb {
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    object-fit: cover
}

.tile__thumb--no-broken:after {
    content: "";
    right: 0;
    bottom: 0
}

.tile__thumb--no-broken:after, .tile__thumb-crop {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f323b
}

.tile__thumb-crop {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.tile--16-9 .tile__image {
    padding-top: 56%;
    height: 0
}

.tile--16-9 .tile__thumb {
    position: absolute;
    top: 0;
    left: 0
}

.tile--totem .tile__image {
    padding-top: 247%;
    height: 0
}

.tile--totem .tile__thumb {
    position: absolute;
    top: 0;
    left: 0
}

.tile__service {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    width: 75px;
    height: 15%;
    max-height: 25px
}

.tile__service-logo {
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.7);
    transform-origin: top right
}

.tile--large .tile__service-logo, .tile--totem .tile__service-logo {
    transform: none
}

.tile__csa-logo {
    position: absolute;
    bottom: -28px;
    right: 8px
}

.tile__parental-filter-overlay {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7)
}

.tile__parental-filter-overlay-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90px;
    opacity: .5
}

.tile__parental-filter-overlay--black {
    background: #1f1f1f
}

.tile__parental-filter-overlay-message {
    position: absolute;
    z-index: 4;
    top: 40px;
    left: 10px;
    right: 10px;
    max-width: 262px;
    margin: auto;
    white-space: normal;
    font-size: .8em;
    letter-spacing: 1px;
    line-height: 1.4;
    color: #fff
}

@media (min-width: 1024px) {
    .tile__parental-filter-overlay-message {
        top: 55px
    }
}

.tile__duration {
    display: block;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    min-width: 62px;
    background: rgba(47, 50, 59, .9);
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0 10px 1px
}

@media (min-width: 1024px) {
    .tile__duration {
        min-width: 78px;
        font-size: 15px;
        line-height: 20px
    }
}

.tile__subscription {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px
}

.tile__detail {
    padding: 7px 32px 7px 7px;
    background: #fff
}

.tile__freemium-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 100%;
    margin-top: -13px;
    left: 0;
    z-index: 2
}

.tile__name {
    color: #25272c;
    font-size: 13px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    min-height: 17px;
    max-height: 17px;
    transition: max-height .2s .1s
}

@media (min-width: 1024px) {
    .tile__name {
        font-size: 16px;
        line-height: 20px;
        min-height: 22px;
        max-height: 22px
    }
}

.tile__info {
    height: 12px;
    color: rgba(37, 39, 44, .7);
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media (min-width: 1024px) {
    .tile__info {
        height: 14px;
        font-size: 12px
    }
}

.tile__label {
    display: none;
    padding: 3px 9px 7px;
    margin-top: 5px
}

@media (max-width: 749px) {
    .tile__label {
        position: absolute
    }
}

.tile__title {
    margin-bottom: 3px;
    color: #2e3c4b;
    font-size: 13px;
    font-weight: 700
}

.tile__subtitle {
    display: flex;
    align-items: center;
    color: #4c5054;
    font-size: 11px
}

.tile__subtitle, .tile__title {
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.tile__polaroid {
    display: none
}

.app--full-features .tile {
    z-index: 0;
    transform-origin: center;
    transition: transform .2s .1s, z-index 0s .1s;
    image-rendering: -webkit-optimize-contrast
}

.app--full-features .tile__polaroid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -3px;
    padding: 3px;
    z-index: -1;
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(12, 14, 18, .75)
}

.app--full-features .tile__label, .app--full-features .tile__parental-filter-overlay-message, .app--full-features .tile__polaroid, .app--full-features .tile__subscription {
    display: block;
    opacity: 0;
    transition: opacity .1s .1s
}

.app--full-features .tile__parental-filter-overlay-message {
    transition: opacity .5s ease
}

.app--full-features .tile__detail, .app--full-features .tile__label, .app--full-features .tile__service {
    -moz-transition: transform .2s .1s, opacity 0s .1s
}

.app--full-features .tile:focus, .app--full-features .tile:hover {
    z-index: 2;
    transform: scale(1.1);
    -moz-transform: scale(1.1) rotate(.01deg)
}

.app--full-features .tile:focus .tile__detail, .app--full-features .tile:focus .tile__label, .app--full-features .tile:focus .tile__service, .app--full-features .tile:hover .tile__detail, .app--full-features .tile:hover .tile__label, .app--full-features .tile:hover .tile__service {
    -moz-transform: rotate(-.01deg)
}

.app--full-features .tile:focus .tile__label, .app--full-features .tile:focus .tile__parental-filter-overlay-message, .app--full-features .tile:focus .tile__polaroid, .app--full-features .tile:focus .tile__subscription, .app--full-features .tile:hover .tile__label, .app--full-features .tile:hover .tile__parental-filter-overlay-message, .app--full-features .tile:hover .tile__polaroid, .app--full-features .tile:hover .tile__subscription {
    opacity: 1
}

.app--full-features .tile:focus .tile__parental-filter-overlay-message, .app--full-features .tile:hover .tile__parental-filter-overlay-message {
    transition: opacity .5s ease
}

.app--full-features .tile:focus .tile__parental-filter-overlay-logo, .app--full-features .tile:hover .tile__parental-filter-overlay-logo {
    opacity: 0;
    transition: opacity .5s ease
}

.app--full-features .tile:focus .tile__name, .app--full-features .tile:hover .tile__name {
    white-space: pre-wrap;
    max-height: 60px
}

.app--full-features .tile--totem:focus, .app--full-features .tile--totem:hover {
    transform: scale(1.04);
    -moz-transform: scale(1.04) rotate(.01deg)
}

.freemium-icon {
    display: inline-block;
    vertical-align: sub;
    border-radius: 50%;
    background: #fff;
    overflow: hidden
}

.freemium-icon__svg _:-ms-input-placeholder, :root .freemium-icon__svg {
    width: 200%;
    height: 200%;
    margin: -50%;
    transform: scale(.5)
}

.csa-logo {
    width: 20px;
    height: auto;
    object-fit: contain
}

.next-diffusion {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    margin: 0 15px 0 0
}

@media (max-width: 749px) {
    .next-diffusion {
        display: inline
    }
}

.next-diffusion__label {
    display: block;
    font-size: 13px;
    margin-bottom: 7px
}

.next-diffusion__info {
    font-size: 25px;
    font-weight: 700
}

.next-diffusion__channel {
    font-size: 25px;
    display: block
}
